.section-portfolio {
  h2 {
    @extend .mb-5;
  }

  .portfolio {
    @extend .mt-5;
  }
  .card {
    border: none;

    .card-img {
      width: 100%;
      height: auto;
    }

    a {
      color: $primary;
    }
  }
}
