---
permalink: /
title: Garrett Weinberg's Portfolio
---




<section class="section-about content-wrapper" id="about">
  <h1>Garrett Weinberg</h1>
  <p class="location">Berlin, CT | <a href="mailto:weinberg135@gmail.com">weinberg135@gmail.com</a></p> 
  <p class="bio">I’m a full-stack developer specializing in building web applications and e-commerce solutions using technologies such as WordPress, Next.js, and Shopify. I enjoy creating accessible, SEO-friendly websites and delivering high-quality user experiences. With experience in large-scale projects and internal app development, I’m dedicated to solving complex problems and refining my skills to meet business needs.</p>
</section>

<section class="section-work content-wrapper" id="work">
  <h2>Work History</h2>
  <div class="job">
    <h3 class="job-title">Freelance Web Developer</h3>
    <p class="job-dates">2017 - Present</p>
    <p class="job-description">As a freelance developer, I built custom web applications and websites using Laravel, WordPress, Next.js, Shopify, HubSpot, and Drupal. My work included developing e-commerce solutions, business tools, and informational sites for non-profits. Notable projects involved a custom quality control application, WordPress integration with Google Looker Studio for automated reporting, and conducting SEO audits to improve search visibility.</p>
  </div>
  <hr />
  <div class="job">
    <h3 class="job-title">Sr. Developer</h3>
    <p class="job-company">Rebellion Group (Fromerly Rebel Interactive Group)</p>
    <p class="job-dates">2019 - 2024</p>
    <p class="job-description">As a senior developer, I built and maintained websites using WordPress, 11ty, Gatsby, and Next.js, delivering scalable solutions. I developed custom e-commerce systems with WooCommerce, Shopify, and the Stripe API and led multiple large-scale university website projects. Additionally, I built a suite of internal applications using React, Node.js, and MongoDB to streamline operations. My expertise in WordPress development included Gutenberg, ACF, FacetWP, and Gravity Forms, with a strong focus on WCAG 2.1 accessibility compliance.</p>
  </div>
   <hr />
  <div class="job">
    <h3 class="job-title">Marketing Manager</h3>
    <p class="job-company">StromTec, LLC</p>
    <p class="job-dates">2013 - 2019</p>
    <p class="job-description">As a marketing manager, I built and maintained the company’s WordPress and WooCommerce website, ensuring a seamless e-commerce experience. I rebuilt a legacy Paradox repair application in MS Access, improving its functionality and longevity. Additionally, I managed digital marketing efforts through Google Ads and Google Shopping to drive traffic and increase sales. My role also included testing and diagnosing ultrasonic equipment to ensure product reliability. Beyond technical responsibilities, I handled accounts receivable and provided customer support, managing transactions and assisting clients to maintain smooth business operations.</p>
  </div>
</section>
<section class="section-skills content-wrapper" id="skills">
  <h2>Skills</h2>
    <div class="skills-list">
      <h3>Tools & Technologies</h3>
      <ul class="list-group list-group-horizontal-md flex-wrap">
        <li class="list-group-item flex-fill col-md-4"><i class="fa-brands fa-wordpress"></i>WordPress</li>
        <li class="list-group-item flex-fill col-md-4"><i class="fa-brands fa-shopify"></i>Shopify</li>
        <li class="list-group-item flex-fill col-md-4"><i class="fa-brands fa-hubspot"></i>HubSpot</li>
        <li class="list-group-item flex-fill col-md-4"><i class="fa-brands fa-js"></i>JavaScript</li>
        <li class="list-group-item flex-fill col-md-4"><i class="fa-brands fa-react"></i>React</li>
        <li class="list-group-item flex-fill col-md-4"><i class="fa-brands fa-node-js"></i>Node.js</li>
        <li class="list-group-item flex-fill col-md-4"><i class="fa-brands fa-php"></i>PHP</li>
        <li class="list-group-item flex-fill col-md-4"><i class="fa-brands fa-html5"></i>HTML</li>
        <li class="list-group-item flex-fill col-md-4"><i class="fa-brands fa-css3-alt"></i>CSS</li>
        <li class="list-group-item flex-fill col-md-4"><i class="fa-brands fa-sass"></i>Sass</li>
        <li class="list-group-item flex-fill col-md-4"><i class="fa-brands fa-bootstrap"></i>Bootstrap</li>
        <li class="list-group-item flex-fill col-md-4"><i class="fa-brands fa-git"></i>Git</li>
      </ul>
    </div>
    <hr />
  <div class="skills-list">
    <h3>Qualifications</h3>
    <ul class="list-group">
      <li class="list-group-item"><i class="fa-regular fa-circle-check"></i>Deep understanding of the entire website build process from initial discovery through design and development.</li>
      <li class="list-group-item"><i class="fa-regular fa-circle-check"></i>Strong knowledge of SEO best practices and WCAG 2.1 accessibility standards.</li>
      <li class="list-group-item"><i class="fa-regular fa-circle-check"></i>Proven ability to troubleshoot and quickly resolve issues as they arise.</li>
      <li class="list-group-item"><i class="fa-regular fa-circle-check"></i>Expertise in multiple programming languages and development frameworks.</li>
      <li class="list-group-item"><i class="fa-regular fa-circle-check"></i>Excellent communication and collaboration skills.</li>
      <li class="list-group-item"><i class="fa-regular fa-circle-check"></i>Fast learner with the ability to learn new languages, platforms, and workflows with minimal guidance.</li>
      <li class="list-group-item"><i class="fa-regular fa-circle-check"></i>Proficient in Windows, Mac, and Linux operating systems.</li>
    </ul>
  </div>
</section>
<section class="section-education content-wrapper" id="education">
  <h2>Education</h2>
  <div class="education">
    <h3 class="education-degree">Porter and Chester Institute</h3>
    <p class="education-school">Computer Networking</p>
    <p class="education-dates">2009 - 2010</p>
    <ul class="list-group">
      <li class="list-group-item"><i class="fa-solid fa-certificate"></i>Network+ Certified</li>
      <li class="list-group-item"><i class="fa-solid fa-certificate"></i>Security+ Certified</li>
    </ul>
  </div>
</section>
<section class="section-portfolio content-wrapper" id="portfolio">
  <h2>Portfolio</h2>
  <p>Below are a few sites I've developed that I'm particularly proud of. Some of these are with a previous agency and some are sites I've done on my own.</p>
  <div class="portfolio">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="{{ '/assets/images/shc.png' | url }}" class="card-img" alt="Spring Hill College" />
          <div class="card-body text-center">
            <h6 class="card-title"><a href="https://shc.edu" target="_blank" rel="noopener noreferrer">shc.edu</a><h6>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="{{ '/assets/images/novasallc.png' | url }}" class="card-img" alt="Nova Safety Associates" />
          <div class="card-body text-center">
            <h6 class="card-title"><a href="https://novasallc.com" target="_blank" rel="noopener noreferrer">novasallc.com</a></h6>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="{{ '/assets/images/fintastic.png' | url }}" class="card-img" alt="Fintastid Diving" />
          <div class="card-body text-center">
            <h6 class="card-title"><a href="https://fintasticdiving.net" target="_blank" rel="noopener noreferrer">fintasticdiving.net</a></h6>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="{{ '/assets/images/schmitt.png' | url }}" class="card-img" alt="Schmtt Tree Service" />
          <div class="card-body text-center">
            <h6 class="card-title"><a href="https://schmittlandscapingandtree.com" target="_blank" rel="noopener noreferrer">schmittlandscapingandtree.com</a></h6>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="{{ '/assets/images/uniquefamilies.png' | url }}" class="card-img" alt="Unique Families’ Journey Foundation, Inc." />
          <div class="card-body text-center">
            <h6 class="card-title"><a href="https://uniquefamiliesjourney.org" target="_blank" rel="noopener noreferrer">uniquefamiliesjourney.org</a></h6>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="{{ '/assets/images/charteroak.png' | url }}" class="card-img" alt="Charter Oak Communities" />
          <div class="card-body text-center">
            <h6 class="card-title"><a href="https://charteroakcommunities.org" target="_blank" rel="noopener noreferrer">charteroakcommunities.org</a></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>