<header class="page-header">
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#about">Garrett Weinberg</a>
    <button class="navbar-toggler hamburger hamburger--collapse" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-navigation" aria-controls="offcanvas-navigation">     
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</nav>
<div class="offcanvas offcanvas-start" data-bs-scroll="false" data-bs-backdrop="true" tabindex="-1"  id="offcanvas-navigation" aria-labelledby="offcanvas-navigationLabel">
    <div class="offcanvas-body">
      <div class="container">
        <div class="sidebar">
        <div class="sidebar-inner">
            <figure class="sidebar-image">
                <img src="{{ '/assets/images/garrett-profile.jpeg' | url }}" alt="Garrett Weinberg's Profile Image" />
            </figure>
            <div class="social-links">
              <a href="github.com/garrettweinberg" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a>
              <a href="linkedin.com/in/garrettweinberg" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin"></i></a>
            </div>
            
            <nav class="sidebar-nav">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#work">Work History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/assets/images/garrett-weinberg-resume.pdf" target="_blank">Resume</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>