<li class="nav-item">
  <a
    class="nav-link {{ active }}"
    href="{{ itemUrl }}"
    {{ currentAttribute | safe }}
    {{ target }}
    {# {{ relAttribute | safe }} #}
    {# {{ dropdownAttributes | safe }} #}
  >
    {{ item.text }}
  </a>
</li>