<div class="sidebar-inner">
  <figure class="sidebar-image">
      <img src="{{ '/assets/images/garrett-profile.jpeg' | url }}" alt="Garrett Weinberg's Profile Image" />
  </figure>
  <div class="social-links">
    <a href="github.com/garrettweinberg" target="_blank" rel="noopener"><i class="fa-brands fa-github"></i></a>
    <a href="linkedin.com/in/garrettweinberg" target="_blank" rel="noopener"><i class="fa-brands fa-linkedin"></i></a>
  </div>
  
  <nav class="sidebar-nav" id="sidebar-nav">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#work">Work History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assets/images/garrett-weinberg-resume.pdf" target="_blank">Resume <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
      </li>
    </ul>
  </nav>
</div>
