// Colors

$primary: #191e29;
$secondary: #3b4959;
$dark: #697a91;
$light: #f1f5f8;
$medium: #a0b4c0;
$white: #ffffff;
$danger: #ff4136;
$warning: #fca52e;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "warning": $warning,
  "dark": $dark,
  "light": $light,
);
$custom-colors: (
  "white": $white,
  "medium": $medium,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// Global
$spacer: 1rem;
$body-bg: $light;
$body-color: $primary;
$font-family-base: "Fira Code", monospace;
$font-size-base: $spacer * 1.125;
$hamburger-layer-color: $light;
